/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADINGS **/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}
p{
    font-family: "Arial";
    font-size: 14px;
}

/* Algemeen */
.shadow-border {
    box-shadow: 2px 2px 8px #727272;
}

/* Header */

/* Main  */

/* Agenda  */
.agenda-color{
    width: 500px;
    height: 800px; 
    background-color: var(--lighter-green);
    /* border: 10px solid #FFF; */
}

.agenda-center{
    display: flex;
    height: 15%;
    justify-content: center;
    margin-top: 20px;
}


/* Login */
.login-color{
width: 500px;
height: 350px;
background-color: var(--darker-red);
/* border: 10px solid #FFF; */
}

.login-center {
    display: flex;
    height: 33%;
    justify-content: center;
    margin-top: 20px;
}


/* Footer  */
.footer-color {
background-color: var(--darker-orange);
width: 100%;
background-size: cover;
height: 300px;
}

.contact-center {
    display: flex;
    height: 30%;
}



/* Vegas */
#background-image {
    width: 100%;    
    height: 700px;
    background-size: cover;
    /* background-position: center; */
    /* overflow: hidden; */
}


/* home page */
.image-detail-home{
    display:flex;
    background-position: center;
    background-size: cover;
}

.icons-homepage {
    float: left;
    padding-left: 20px;
}

.padding-icons-homepage{
    padding-top: 40px;
    /* padding-left: 20px; */
    padding-right: 20px;
    padding-bottom: 35px;
}

.padding-blocks{
    margin-left: 
    margin-right: auto;
}

/* button homepage*/
.button-homepage {
    position: absolute;
    background-color: var(--lighter-red);
    color: var(--white);
    border:none;
    border-radius: 35px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0); */
    padding: 0px;
    padding-top: 6px;
    min-height: 30px;
    min-width: 120px;    
}

.button-homepage:hover{
    background-color:#95b82d;
    transition: 0.4s;

}

.button-homepage:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.5s;
}

.button-homepage:active{
    background-color: var(--darker-red);
}
.padding-button-homepage{
    padding-top: 20px;
    padding-left: 40px;
    /* padding-right: 20px; */
    /* padding-bottom: 50px; */
}

/* Detail pagina */
.image-detail{
    width: 400px;
    height: 600px;
    background-position: 23%;
}

.detail-background{
    background-color: #dedcda;
    width: 600px;
    height: 600px;
}

.detail-background-below{
    background-color: #f36421;
    width: 1000px;
    height: 600px;
}

.icons-detail{
    float: left;
    padding-left: 20px;
}

/* button detail pagina*/
.button-detail {
    position: absolute;
    background-color: var(--lighter-red);
    color: var(--white);
    border:none;
    border-radius: 35px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0); */
    padding: 0px;
    padding-top: 6px;
    min-height: 30px;
    min-width: 120px;    
}

.button-detail:hover{
    background-color:#95b82d;
    transition: 0.4s;

}

.button-detail:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.5s;
}

.button-detail:active{
    background-color: var(--darker-red);
}
.padding-button-detail{
    padding-top: 25px;
    padding-left: 25px;
    /* padding-right: 20px; */
    /* padding-bottom: 50px; */
}


/* waardering  */
.star {
    font-size: 20px;
    color: #fca01f;
    cursor: pointer;
    padding-top: 55px;
    /* width: 50px; */
}

.star:hover {
    color: #95b82d;
}

/* favoriet */
.favoriet{
    color: #fca01f;
    cursor: pointer;
    font-size:45px;    
}
.favoriet:hover{
    color: #95b82d;
}


/* Tabs */
/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container {
    width: 1000px;
    height: 600px;
    left: 50%;
    top: 120px;
    background-color: #ffffff;
  }
  .tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  h4 {
    background-color: #e4e9fd;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
  }
  .tab-content {
    background-color: #ffffff;
    padding: 50px 40px;
  }
  .tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
  }
  .tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
  }
  .tab-content div {
    display: none;
  }
  .tab-content .active {
    display: block;
  }
  .tabs .active {
    background-color: #ffffff;
    color: #4d5bf9;
  } */

  .tabs {
    border: 1px solid #cccccc;
    display: flex;
  }

  .tabs_sidebar {
    width: 800px;
    height: 125px;
    flex-shrink: 0;
    background:var(--kahki);
  }

  .tabs_button {
    display: block;
    padding: 10px;
    background:#eeeeee;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
  }

  .tabs_button:active {
    background: #dddddd;
  }

  .tabs_button:not(:last-of-type) {
    border-bottom: 1px solid #cccccc;
  }

  .tabs_button--active {
    font-weight: bold;
    border-right: 2px solid #009879;
    background: #dddddd
  }

  .tabs_content {
    padding: 15px;
    font-size: 0.8 rem;
    display: none;
  }

  .tabs_content--active{
    display: block;
  }

  .tabs_content > first-child  {
    margin-top: 0;
  }