/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADINGS **/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}
p{
    font-family: "Arial";
    font-size: 14px;
}

/* Header */

/* Main  */

/* Agenda  */
.agenda-color{
    /* position: relative; */
    left: 10%;
    min-width: 350px;
    max-width: 350px;
    /* height: 800px;  */
    background-color: var(--lighter-green);
    box-shadow: 2px 2px 8px #727272;
}

.agenda-center{
    display: flex;
    height: 90px;
    justify-content: center;
    margin-top: 20px;
}


/* Login */
.login-color{
/* position: relative; */
left: 10%;
min-width: 350px;
max-width: 350px; 
height: 350px;
background-color: var(--darker-red);
box-shadow: 2px 2px 8px #727272;
}


.login-center {
    display: flex;
    height: 33%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-text {
    color: #FFF;
    font-size: 10px;
    position: relative;
    left: 10%;
}

.button-login {
    position: relative;
    left: 20%;
    top: 15px;
    background-color: var(--lighter-orange);
    color: var(--white);
    border:none;
    border-radius: 35px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0); */
    padding: 0px;
    padding-top: 1px;
    min-height: 40px;
    min-width: 120px;    
}

.button-login:hover{
    background-color:#95b82d;
    transition: 0.4s;

}

.button-login:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.5s;
}


/* Footer  */
.footer-color {
background-color: var(--darker-orange);
width: 100%;
background-size: cover;
height: 300px;
}

.contact_center {
    display: flex;
    height: 35%;
    position: relative;
    padding-left:190px;
    top: -65px;
}

.contact_logo{
    display: flex;
    position: relative;
    width: 125px;
    height: 125px;
    margin-left: 40px;
    top: 50px;
}

.contact_text {
    color: #FFF;
    position: relative;
    padding-left:200px;
    top: -65px;
    font-family: "Arial";
}



/* Vegas */
#background-image {
    width: 100%;    
    height: 700px;
    background-size: cover;
    /* background-position: center; */
    /* overflow: hidden; */
}


/* home page */

.homepage_recept{
    box-shadow: 2px 2px 8px #727272;
    /* min-width: 450px; */

}
.image-detail-home{
    display:flex;
    background-position: center;
    background-size: cover;
}

.icons-homepage {
    float: right;
    padding-left: 20px;
}

.padding-icons-homepage{
    padding-top: 40px;
    /* padding-left: 20px; */
    padding-right: 20px;
    padding-bottom: 35px;
}

/* .padding-blocks{
    margin-left: 
    margin-right: auto;
} */

.rating_homepage{
    padding-top: 12px;
}


/* button homepage*/
.button-homepage {
    position: absolute;
    background-color: var(--lighter-red);
    color: var(--white);
    border:none;
    border-radius: 35px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0); */
    padding: 0px;
    padding-top: 6px;
    min-height: 30px;
    min-width: 120px;    
}

.button-homepage:hover{
    background-color:#95b82d;
    transition: 0.4s;

}

.button-homepage:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.5s;
}

.button-homepage:active{
    background-color: var(--darker-red);
}
.padding-button-homepage{
    padding-top: 20px;
    padding-left: 40px;
    /* padding-right: 20px; */
    /* padding-bottom: 50px; */
}

/* Detail pagina */

.detail_box{
    box-shadow: 2px 2px 8px #727272;
    min-width: 1000px;
    max-width: 1000px;
    min-height: 600px;

}

.image-detail{
   width: 400px;
    height: 600px;
    background-position: 23%;
}

.detail-background{
    background-color: #FFF;
    width: 600px;
    height: 600px;
}



.icons-detail{
    float: left;
    padding-left: 20px;
}

/* button detail pagina*/
.button-detail {
    position: absolute;
    background-color: var(--lighter-red);
    color: var(--white);
    border:none;
    border-radius: 35px;
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0); */
    padding: 0px;
    padding-top: 6px;
    min-height: 30px;
    min-width: 120px;    
}

.button-detail:hover{
    background-color:#95b82d;
    transition: 0.4s;

}

.button-detail:focus{
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.5s;
}

.button-detail:active{
    background-color: var(--darker-red);
}
.padding-button-detail{
    padding-top: 25px;
    padding-left: 25px;
    /* padding-right: 20px; */
    /* padding-bottom: 50px; */
}


/* waardering  */
.star {
    font-size: 20px;
    color: #fca01f;
    cursor: pointer;
    padding-top: 55px;
    /* width: 50px; */
}

.star:hover {
    color: #95b82d;
}

/* favoriet */
.favoriet{
    color: #fca01f;
    cursor: pointer;
    font-size:45px;    
}
.favoriet:hover{
    color: #95b82d;
}


.ingredient_content {
    padding-top:20px;
}
.ingredient_content img {
    float: left;
    width: 140px;
    height: 140px;
    /* background: #555; */
  }

.ingredient_content h4 {
        position: relative;
        top: 18px;
        color: #6e8722;
        padding-bottom: 13px;
      }

.ingredient_content h6{
    display: inline-block;
    color: #6e8722;
    padding-bottom: 14px;
}

.ingredient_content p{
    margin-bottom: 4px;
}



.bereiding_content{
    padding-left: 20px;
}


/* Tabs */
  .tabs {
    /* border: 2px solid #eeeeee; */
    background: #FFF;
    min-width: 1000px;
    max-width: 1000px;
    padding-bottom: 100px;
    margin-left: 50px;

    
   
  }

  .tabs_sidebar {
    width: 800px;
    flex-shrink: 0;
    background:#FFF;
  }

  .tabs_button {
    display: inline-block;
    padding-top: 5px;
    background:#FFF;
    border: none;
    width: 30%;
    outline: none;
    cursor: pointer;
    border-radius: 50px 50px 0px 0px;
    box-shadow: 2px 2px 8px #727272;

  }




  .tabs_button--active {
    font-weight: bold;
    border-bottom: 3px solid var(--darker-green);
    background:#FFF;
  }

  .tabs_content {
    padding: 15px;
    height: 490px;
    display: none;
    background: #FFF;
    overflow-y:scroll;
  }

  .tabs_content--active{
    display: block;
  }

  .tabs_content > first-child  {
    margin-top: 0;
  }

  .tab_scroll_bar{
    min-width: 730px;
    background: #FFF;
    height: 50px;
    text-align: center;
    color: var(--darker-green);
  }

  .tabs_shadow {
    box-shadow: 2px 2px 8px #727272;
  }


  /* Boodschappenlijst */

  .box_boodschappenlijst{
    background-color: #FFF;
    box-shadow: 2px 2px 8px #727272;
    width: 100%; 
    min-width: 900px;
    height: 1000px;
  }

  .boodschappenlijst {
    position:relative;
    padding-bottom: 205px;
  }


  .boodschappenlijst img{
    float: left;
    width: 200px;
    height: 200px;
    padding-bottom: 20px; 
  }

  .boodschappenlijst h2{
    position: absolute;
    color: var(--darker-green);
    left: 220px;
    width: 600px;
    top:30px;
  }

  .boodschappenlijst p {
    position: absolute;
    left: 220px;
    top:90px;
    width: 600px;
  }

  .boodschappenlijst i{
    position: absolute;
    right: 10px;
   
  }
   .boodschappenlijst input {
    color: var(--darker-green);
    border: 1px solid #cccccc;
    width: 70px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 20px;
    font-weight: bolder;
    font-size: 20px;
   }

   .boodschappenlijst i.euro{
    position: absolute;
    left: 980;
    top: 70px; 
   }

   .boodschappenlijst i.check{
    position: absolute;
    left: 1120;
    top: 66px; 
   }

   .boodschappenlijst i.trash{
    position: absolute;
    left: 1200;
    top: 66px; 
   }

   .boodschappenlijst form {
    position: absolute;
    left: 950px;
    top: 70px; 
   }

   .boodschappenlijst div{
    position: absolute;
    left: 1008;
    top: 69px;
    font-size: 25px;
   }
   