{# Opnemen main files #}

{% extends "main.html.twig" %}

{% block header %}

<script>
$(document).ready( function() {
 
            const mySlides = [
                { src: "{{data.0.afbeelding}}", title: "Title #1", subtitle: "Subtitle #1" }
            ]
            Vegas(mySlides)
})

</script>

{% endblock %}

{#content boodschappenlijst pagina#}
{% block content %}
<div class = "row m-5">
    <div class = "col-12 box_boodschappenlijst" >
        <div class = "row">
            <div class = "rol-12">
            <h1 style= "color: var(--darker-green); font-size: 84px;"> Boodschappen</h1>
            </div>
            <div class = "col-12">
            <pre>
            
            
            </pre>
            </div>
        </div>
        <div class = "row">
        </div>
    </div>
</div>

{% endblock %}