{# opnemen van de main file#}
{% extends "main.html.twig" %}

{% block header %}

{# Vegas.js #}
    <script>
        $(document).ready( function() {
 
            const mySlides = [
                { src: "assets/img/vegan-burger.png" }
            ]
        
            $("#background-image").vegas({
                overlay: 'vegas/overlays/02.png',
                slides: mySlides,
                })
            })


    </script>

<div>

{# <img src = "assets/img/logo-v2.png" alt = "verrukkulluk logo"/> #}

</div>
{% endblock %}


{#content detail page#}

{% block content %}
<div class="container-fluid">
    <div class = "row m-5">
        <div class = "col-md-6 shadow-border image-detail w-30">
        </div>
        <div class = "col-md-6 p-5  shadow-border">
        <p> lorem ipsum </p>
        </div>
    </div>
    <div class = "row m-5">
        <div class= "col-md-12 p-5 shadow-border">
        <p> lorem ipsum </p>
        </div>
    </div>
</div



{% endblock %}