<html lang="nl">
<head>

    <title>Het is verrukkulluk! {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href = "assets/vegas/vegas.css"/>
    <link rel="stylesheet" href = "assets/css/vegas-style.css"/>



    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src = "assets/jquery/jquery-3.5.1.js"></script>
    <script src = "assets/vegas/vegas.js"></script>
    <script src="https://kit.fontawesome.com/b8680f53a3.js" crossorigin="anonymous"></script>

</html>
<body>

<div class="container-fluid">
    <div id = "background-image">
        <div class="row ">
            <div class="col-12" >
            <a href="http://localhost/educom-verrukkulluk-1668679337/index.php"> <img src="assets/img/logo-v2.png"/> </a>
                    
            
            {% block header %}
            {% endblock %}   
            </div>
        </div>
    </div>
        




    <div class="row ">
        <div class="col-3  ">
            <div class="row">
                <div class="col-md-12 p-4 m-5  agenda-color shadow-border">
                    <div class="agenda-center"><img src = "assets/img/verrukkulluk-agenda.png" alt = "agenda header"></div>
                    <ul class="fa-ul">
                        <li>
                        <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                        <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                        <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                        </li>
                        <li>
                        <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                        <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                        <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                        </li>
                        <li>
                        <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                        <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                        <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                        </li>
                        <li>
                        <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                        <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                        <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                        </li>
                        <li>
                        <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                        <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                        <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                        </li>
                    </ul>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-12 m-5 p-4 login-color shadow-border">
                    <div>
                    <div class="login-center"><img src = "assets/img/verrukkulluk-login.png" alt = "login header"></div>

                    hier komt een inlogscherm
                    </div>
                </div>
            </div>
        </div>
        

        <div class="col-8">
                    {%  block content %}
                    {%  endblock %}
        </div>
    </div>


    <div class="row ">
        <div class="col-md-12 footer-color">
            <div class = "contact-center"> <img src = "assets/img/verrukkulluk-contact.png" alt = "agenda header"></div>
        </div>
    </div>

</div>

</body>
