<html lang="nl">
<head>

    <title>Het is verrukkulluk! {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href = "../assets/vegas/vegas.css"/>


    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src = "../assets/js/jquery.js"></script>
    <script src = "../assets/vegas/vegas.js"></script>

{# Vegas.js #}
    <script>
        $(document).ready( function() {
 
            const mySlides = [
                { src: "https://picsum.photos/id/1/1900/1200", title: "Title #1", subtitle: "Subtitle #1" },
                { src: "https://picsum.photos/id/10/1900/1200", title: "Title #2", subtitle: "Subtitle #2"  },
                { src: "https://picsum.photos/id/100/1900/1200", title: "Title #3", subtitle: "Subtitle #3"  },
                { src: "https://picsum.photos/id/1000/1900/1200", title: "Title #4", subtitle: "Subtitle #4"  },
            ]
        
            $("#background-image").vegas({
                overlay: 'vegas/overlays/02.png',
                slides: mySlides,
                walk: function (index, slideSettings) {
                    $(".text-block h1").html(mySlides[index].title)
                    $(".text-block h4").html(mySlides[index].subtitle)
                }
            })

        }) 
    </script>


</html>
<body>
{# vegas #}
{# <div class="container-fluid">
<div id = "background-image"> #}
{#  #}
</div>

    <div class="row background-image">
        <div class="col-md-12 ">
        {% block header %}
        {% endblock %}   
        </div>
    </div>




	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12 agenda-color">
                    <div class="agenda-center"><img src = "assets/img/verrukkulluk-agenda.png" alt = "agenda header"></div>
                    <ul style="list-style: none;">
                        <li><i class="fa fa-calendar"></i> Vegetarisch koken</li>
                        <li><i class="fa fa-calendar"></i> Vegetarisch koken</li>
                        <li><i class="fa fa-calendar"></i> Vegetarisch koken</li>
                        <li><i class="fa fa-calendar"></i> Vegetarisch koken</li>
                        <li><i class="fa fa-calendar"></i> Vegetarisch koken</li>
                    </ul>
			    </div>
            </div>    
			<div class="row">
				<div class="col-md-12 login-color ">
                    <div>
                    <div class="login-center"><img src = "assets/img/verrukkulluk-login.png" alt = "login header"></div>

                    hier komt een inlogscherm
                    </div>
				</div>
			</div>
		</div>
		

        <div class="col-md-9">
            <div class = "row">
                <div class = "col-md-12">
                    {%  block content %}
                    {%  endblock %}
                </div>
            </div>
            <div class = "row">
                <div class = "col-md-12">
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 footer-color">
            <div class = "contact-center"> <img src = "assets/img/verrukkulluk-contact.png" alt = "agenda header"></div>
        </div>
    </div>


</div>

</body>
