<html lang="nl">
<head>

    <title>Het is verrukkulluk! {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href = "assets/vegas/vegas.css"/>
    <link rel="stylesheet" href = "assets/css/vegas-style.css"/>



    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
    <script src = "assets/jquery/jquery-3.5.1.js"></script>
    <script src = "assets/vegas/vegas.js"></script>
    <script src="https://kit.fontawesome.com/b8680f53a3.js" crossorigin="anonymous"></script>
    



    <script>
        function Vegas(mySlides) {
            $("#background-image").vegas({
                slides: mySlides,
                })
        }



    // Tabs functionality
        function setupTabs () {
            document.querySelectorAll(".tabs_button") .forEach(button => {
                button.addEventListener("click", () => {
                    const sideBar = button.parentElement;
                    const tabsContainer = sideBar.parentElement;
                    const tabNumber = button.dataset.forTab;
                    const tabToActivate = tabsContainer.querySelector(`.tabs_content[data-tab="${tabNumber}"]`);

                    sideBar.querySelectorAll(".tabs_button") .forEach(button => {
                        button.classList.remove("tabs_button--active");
                    });
                    tabsContainer.querySelectorAll(".tabs_content") .forEach(button => {
                        button.classList.remove("tabs_content--active");
                    });

                    button.classList.add("tabs_button--active");
                    tabToActivate.classList.add("tabs_content--active");
                    console.log(sideBar)
                    console.log(tabsContainer)
                    console.log(tabNumber)
                    console.log(tabToActivate)
                    });
            });

        }

        document.addEventListener("DOMContentLoaded", () => {
            setupTabs();

           
            document.querySelectorAll(".tabs").forEach(tabsContainer => {
                tabsContainer.querySelector(".tabs_sidebar .tabs_button") .click();
            });
        });


            function waarderingGerecht(gerecht_id, waardering) {                
                $.ajax({
                    url: "./index.php",
                    method: "GET",
                    data: {
                        action: "toevoegenWaardering",
                        gerecht_id: gerecht_id,
                        waardering: waardering},
                    success: function(data) {
                        //Clear the stars
                        console.log(`data is: ${waardering}`)
                        $(".star").removeClass('fas')
                        $(".star") .removeClass ('far')
                        $('.star').each((index, elem) => {
                            const itemValue = $(elem).attr('data-value')
                            console.log(`itemValue is: ${itemValue}`)
                            if (itemValue <= waardering) {
                                console.log(`itemValue is: ${itemValue}`)
                                $(elem).addClass('fas')
                            } else {
                                $(elem).addClass('far')
                            }   
                        })
                    }
                })  
            }



            function verwijderBoodschap(user_id, artikel_id) {

                $.ajax({
                    url: "./index.php",
                    method: "GET",
                    data: {
                        action: "verwijderBoodschap",
                        user_id: user_id,
                        artikel_id: artikel_id},
                    success: function(data) {
                        location.reload();
                    }
                })  
            }

            function toevoegenBoodschappenGerecht(gerecht_id) {  
                console.log("toegevoegd")              

                $.ajax({
                    url: "./index.php",
                    method: "GET",
                    data: {
                        action: "toevoegenBoodschappenGerecht",
                        gerecht_id: gerecht_id},
                    success: function(data) {
                    }
                })  
            }



            function openenBoodschappenlijst() {
                $.ajax({
                    url: "./index.php",
                    method: "GET",
                    data: {
                        action: "boodschappenlijst"},
                    success: function(){
                    }
                })
            }


    </script>



</head>
</html>
<body>

    <div class="container-fluid">
        <div id = "background-image">
            <div class="row ">
                <div class="col-12" >
                    <a href="http://localhost/educom-verrukkulluk-1678798729/index.php"> <img src="assets/img/logo-v2.png"/> </a>
                    {% block header %}
                    {% endblock %}   
                </div>
            </div>
        </div>
        




        <div class="row">
            <div class="col-sm-12 col-md-3 ">
                <div class="row">
                    <div class="col-md-12 p-4 m-5  agenda-color shadow-border">
                        <div class="agenda-center"><img src = "assets/img/verrukkulluk-agenda.png" alt = "agenda header">
                        </div>
                        <ul class="fa-ul">
                            <li>
                                <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                                <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                                <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                            </li>
                            <li>
                                <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                                <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                                <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                            </li>
                            <li>
                                <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                                <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                                <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                            </li>
                            <li>
                                <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                                <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                                <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                            </li>
                            <li>
                                <span class = "fa-li"><i class="fa fa-calendar fa-3x"  style = "color: white" ></i></span> 
                                <h3 style = "margin-left: 40px;">Vegetarisch koken</h3>
                                <p style = "margin-left: 40px;"> Een workshop vegetarisch koken, onder leiding van trientje Hupsakee</p>
                            </li>
                        </ul>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-sm-12 col-md-3 m-5 p-4 login-color shadow-border">
                        <div>
                            <div class="login-center"><img src = "assets/img/verrukkulluk-login.png" alt = "login header">
                            </div>
                            <div>
                                <form method = "GET" action = "action" class = "login-text">
                                    Email <br>
                                    <input type = "text" name = "Email"  size = "40" style = "margin-bottom: 10px;"> <br>
                                    Wachtwoord<br>
                                    <input type = "text" name = "wachtwoord" size = "40"><br><br>
                                    <h2><input type = "button" value = "Log in" class = "button-login"></h2>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-sm-12 col-md-8 col-lg-8 col-xl-8">
                {%  block content %}
                {%  endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 footer-color">
                <img src = "assets/img/verrukkulluk-pay-off.png" alt = "verrukkulluk logo" class = "contact_logo">
                <img src = "assets/img/verrukkulluk-contact.png" alt = "agenda header" class = "contact_center">
                <p class = "contact_text">
                    Verrukkulluk.nl <br>
                    Poststraat 2b<br>
                    Sittard<br>
                    info@verrukkulluk.nl
                </p>
            </div>
        </div>
    </div>



</body>